In [34]:
import pandas as pd
from tqdm import tqdm
import numpy as np

In [11]:
f = open('raw-data/2023_10_30_sum.txt')

In [3]:
a = f.readlines()
last = len(a)
counter = 0
for line in tqdm(a, leave = True):
    if counter == last - 1:
        print(line)
        break
    counter += 1

100%|█████████▉| 3249525/3249526 [00:00<00:00, 3513097.98it/s]

STD[FDBRS] 0B5h 32 6342729.2 21 1D 0A 22 00 00 22 00 22 00 22 00 00 FE 38 00 4F 00 00 40 14 04 50 0C 00 1D 00 00 00 02 00 00

In [37]:
input_data = open('raw-data/2023_05_04_pangyo.txt')

for i in range(4):
    input_data.readline()
data = list()
temp = None
string = None
dlc = 0
counter = 0
for line in tqdm(input_data.readlines(), leave = True):
    line = line.split()
    temp = [line[3], f'00000{line[1][:3]}', format(int(line[2]), 'x')]
    string = ' '.join(line[4:])
    temp.append(string)
    data.append(np.array(temp))
    
data = np.array(data)
dataframe = pd.DataFrame(columns = ['Timestamp', 'ID', 'DLC', 'Payload'], data = data)
label = np.array([0 for i in range(len(dataframe))])
dataframe['label'] = label

100%|██████████| 3321576/3321576 [00:15<00:00, 217922.58it/s]

In [38]:
dataframe

,Timestamp,ID,DLC,Payload,label
0,61469806.4,0000011A,10,89 7A 16 05 80 08 A8 02 00 05 00 00 00 00 00 00,0
1,61469806.5,0000012A,10,67 B4 16 02 40 00 08 00 00 00 01 00 00 64 00 00,0
2,61469807.7,000000EA,18,F0 C8 1D 00 01 41 00 00 6D 06 C5 0E 00 00 00 0...,0
3,61469807.9,00000160,10,8F 6E 09 03 00 00 00 02 FF FC 01 00 00 00 00 00,0
4,61469808.1,000001A0,20,63 B2 09 FE 27 35 64 00 00 00 00 00 1E 08 01 0...,0
...,...,...,...,...,...
3321571,63303517.7,0000012A,10,B3 33 43 02 40 00 08 00 00 00 01 00 00 64 00 00,0
3321572,63303517.9,0000011A,10,5D FD 43 05 80 08 A8 02 00 05 00 00 00 00 00 00,0
3321573,63303518.1,0000004A,20,7C F3 71 00 00 00 02 00 D1 82 97 81 2E 7F 68 0...,0
3321574,63303519.3,00000125,10,3B 13 0D 0E 01 01 07 00 00 00 00 00 00 00 00 00,0
3321575,63303522.1,00000060,20,12 3F 75 00 00 00 00 00 02 02 00 02 40 FF 00 F...,0

In [26]:
print(counter)

426

In [6]:
import numpy as np

a = list()
a.append(np.array([1, 2, 3]))
a.append(np.array([2, 3, 4]))
a

[array([1, 2, 3]), array([2, 3, 4])]

In [58]:
a[-1] = np.concatenate([a[-1], np.array([5, 6])])
a

[array([1, 2, 3]), array([2, 3, 4, 5, 6])]

In [60]:
np.put(a[-1], -1, 10)

In [1]:
a

NameError: name 'a' is not defined

In [2]:
import json

In [4]:
with open('DefaultPayload.json', 'r') as file:
    jsonfile = json.load(file)

In [11]:
data = jsonfile['can']['dos']

In [1]:
data['payload']

NameError: name 'data' is not defined

In [90]:
import pandas

In [96]:
data = pandas.read_csv('can-fd_replay_dummy.csv')

In [97]:
data

,Timestamp,ID,DLC,Flg,Dir,Payload,label
0,2179.63603,00000145,20,FB,R,14 D7 18 10 01 00 00 00 00 00 00 00 00 00 00 0...,1
1,2179.63622,000000EA,18,FB,R,B5 65 DD 10 41 43 00 00 F5 07 E7 0F EB FF 00 0...,1
2,2179.63709,00000040,20,FB,R,82 46 DA 00 10 FF 07 08 00 00 FF 07 00 00 FF 0...,1
3,2179.63731,0000006A,20,FB,R,B1 69 DA EC 08 7A F0 08 00 00 00 00 00 3E 02 0...,1
4,2179.63800,00000060,20,FB,R,56 3C 4B 00 00 00 00 00 02 02 00 02 40 FF 00 F...,1
5,2179.63819,000000B0,18,FB,R,EC 22 4B 64 64 64 64 00 00 B8 0B 00 00 00 00 0...,1
6,2179.63841,000000B5,20,FB,R,94 0B E3 1C 00 7F 1F 00 1C 00 1C 00 00 00 2C 0...,1
7,2179.63871,00000100,20,FB,R,46 99 E3 00 10 CB 80 6C 40 00 25 00 00 00 00 5...,1
8,2179.63890,0000006F,8,FB,R,42 64 4B 00 00 00 00 00,1
9,2179.63930,00000125,10,FB,R,DD 6F 41 EE FF 00 07 00 00 00 00 00 00 00 00 00,1
10,2179.63951,00000140,8,FB,R,19 4F 27 41 80 00 00 00,1
11,2179.63997,0000012A,10,FB,R,24 63 3A 02 40 00 08 00 00 00 01 00 00 64 00 00,1
12,2179.64012,0000011A,10,FB,R,27 66 3A 00 80 00 A8 02 00 04 08 00 00 00 00 00,1
13,2179.64052,00000155,10,FB,R,E3 AF D2 13 00 00 00 00 00 00 00 00 00 00 00 00,1
14,2179.64074,0000004A,20,FB,R,63 5B D1 00 00 00 02 00 FB 7F 9B 7F 15 7D 68 0...,1
15,2179.64162,0000007A,18,FB,R,25 11 4C 8E 8E 8E 8E 00 00 00 00 00 00 00 00 0...,1
16,2179.64181,000000A5,18,FB,R,73 C2 4C FE D1 1F F9 01 00 22 20 00 00 00 00 0...,1
17,2179.64290,00000065,18,FB,R,EB BE 4B 00 00 F2 FF 10 00 00 00 00 00 00 00 0...,1
18,2179.64327,000000A0,18,FB,R,23 51 4B 3C D9 6D 34 00 00 00 00 00 00 00 00 0...,1
19,2179.64443,000001AA,10,FB,R,89 77 34 10 00 A0 00 08 00 00 00 00 00 00 00 00,1

In [98]:
data['label'] = [1 for _ in range(len(data))]

In [99]:
data['Timestamp'] = data['Timestamp'] - 0.1

In [100]:
data.to_csv('can-fd_replay_dummy.csv', sep = ',', index = False)

In [120]:
import pandas

In [147]:
dump = pandas.read_csv('can-fd_replay_dummy.csv')

In [148]:
dump

,Timestamp,ID,DLC,Flg,Dir,Payload,label
0,2179.53603,00000145,20,FB,R,14 D7 18 10 01 00 00 00 00 00 00 00 00 00 00 0...,1
1,2179.53622,000000EA,18,FB,R,B5 65 DD 10 41 43 00 00 F5 07 E7 0F EB FF 00 0...,1
2,2179.53709,00000040,20,FB,R,82 46 DA 00 10 FF 07 08 00 00 FF 07 00 00 FF 0...,1
3,2179.53731,0000006A,20,FB,R,B1 69 DA EC 08 7A F0 08 00 00 00 00 00 3E 02 0...,1
4,2179.53800,00000060,20,FB,R,56 3C 4B 00 00 00 00 00 02 02 00 02 40 FF 00 F...,1
5,2179.53819,000000B0,18,FB,R,EC 22 4B 64 64 64 64 00 00 B8 0B 00 00 00 00 0...,1
6,2179.53841,000000B5,20,FB,R,94 0B E3 1C 00 7F 1F 00 1C 00 1C 00 00 00 2C 0...,1
7,2179.53871,00000100,20,FB,R,46 99 E3 00 10 CB 80 6C 40 00 25 00 00 00 00 5...,1
8,2179.53890,0000006F,8,FB,R,42 64 4B 00 00 00 00 00,1
9,2179.53930,00000125,10,FB,R,DD 6F 41 EE FF 00 07 00 00 00 00 00 00 00 00 00,1
10,2179.53951,00000140,8,FB,R,19 4F 27 41 80 00 00 00,1
11,2179.53997,0000012A,10,FB,R,24 63 3A 02 40 00 08 00 00 00 01 00 00 64 00 00,1
12,2179.54012,0000011A,10,FB,R,27 66 3A 00 80 00 A8 02 00 04 08 00 00 00 00 00,1
13,2179.54052,00000155,10,FB,R,E3 AF D2 13 00 00 00 00 00 00 00 00 00 00 00 00,1
14,2179.54074,0000004A,20,FB,R,63 5B D1 00 00 00 02 00 FB 7F 9B 7F 15 7D 68 0...,1
15,2179.54162,0000007A,18,FB,R,25 11 4C 8E 8E 8E 8E 00 00 00 00 00 00 00 00 0...,1
16,2179.54181,000000A5,18,FB,R,73 C2 4C FE D1 1F F9 01 00 22 20 00 00 00 00 0...,1
17,2179.54290,00000065,18,FB,R,EB BE 4B 00 00 F2 FF 10 00 00 00 00 00 00 00 0...,1
18,2179.54327,000000A0,18,FB,R,23 51 4B 3C D9 6D 34 00 00 00 00 00 00 00 00 0...,1
19,2179.54443,000001AA,10,FB,R,89 77 34 10 00 A0 00 08 00 00 00 00 00 00 00 00,1

In [149]:
base_timestamp = 1000.00000

In [150]:
timestamp_diff = dump['Timestamp'].diff().fillna(0).tolist()
for i in range(1, len(timestamp_diff)):
    timestamp_diff[i] += timestamp_diff[i - 1]

In [151]:
timestamp_diff

[0.0,
 0.0001899999997476698,
 0.0010600000000522414,
 0.0012799999999515421,
 0.0019699999998010753,
 0.0021600000000034925,
 0.002379999999902793,
 0.0026800000000548607,
 0.0028699999998025305,
 0.0032699999997021223,
 0.0034799999998540443,
 0.003940000000056898,
 0.004089999999905558,
 0.00448999999980515,
 0.004709999999704451,
 0.005589999999756401,
 0.005779999999958818,
 0.006869999999707943,
 0.007239999999910651,
 0.008399999999710417]

In [157]:
dump['Timestamp'] = pandas.DataFrame(columns = ['Timestamp'], data = timestamp_diff) + base_timestamp

In [158]:
dump

,Timestamp,ID,DLC,Flg,Dir,Payload,label
0,1000.00000,00000145,20,FB,R,14 D7 18 10 01 00 00 00 00 00 00 00 00 00 00 0...,1
1,1000.00019,000000EA,18,FB,R,B5 65 DD 10 41 43 00 00 F5 07 E7 0F EB FF 00 0...,1
2,1000.00106,00000040,20,FB,R,82 46 DA 00 10 FF 07 08 00 00 FF 07 00 00 FF 0...,1
3,1000.00128,0000006A,20,FB,R,B1 69 DA EC 08 7A F0 08 00 00 00 00 00 3E 02 0...,1
4,1000.00197,00000060,20,FB,R,56 3C 4B 00 00 00 00 00 02 02 00 02 40 FF 00 F...,1
5,1000.00216,000000B0,18,FB,R,EC 22 4B 64 64 64 64 00 00 B8 0B 00 00 00 00 0...,1
6,1000.00238,000000B5,20,FB,R,94 0B E3 1C 00 7F 1F 00 1C 00 1C 00 00 00 2C 0...,1
7,1000.00268,00000100,20,FB,R,46 99 E3 00 10 CB 80 6C 40 00 25 00 00 00 00 5...,1
8,1000.00287,0000006F,8,FB,R,42 64 4B 00 00 00 00 00,1
9,1000.00327,00000125,10,FB,R,DD 6F 41 EE FF 00 07 00 00 00 00 00 00 00 00 00,1
10,1000.00348,00000140,8,FB,R,19 4F 27 41 80 00 00 00,1
11,1000.00394,0000012A,10,FB,R,24 63 3A 02 40 00 08 00 00 00 01 00 00 64 00 00,1
12,1000.00409,0000011A,10,FB,R,27 66 3A 00 80 00 A8 02 00 04 08 00 00 00 00 00,1
13,1000.00449,00000155,10,FB,R,E3 AF D2 13 00 00 00 00 00 00 00 00 00 00 00 00,1
14,1000.00471,0000004A,20,FB,R,63 5B D1 00 00 00 02 00 FB 7F 9B 7F 15 7D 68 0...,1
15,1000.00559,0000007A,18,FB,R,25 11 4C 8E 8E 8E 8E 00 00 00 00 00 00 00 00 0...,1
16,1000.00578,000000A5,18,FB,R,73 C2 4C FE D1 1F F9 01 00 22 20 00 00 00 00 0...,1
17,1000.00687,00000065,18,FB,R,EB BE 4B 00 00 F2 FF 10 00 00 00 00 00 00 00 0...,1
18,1000.00724,000000A0,18,FB,R,23 51 4B 3C D9 6D 34 00 00 00 00 00 00 00 00 0...,1
19,1000.00840,000001AA,10,FB,R,89 77 34 10 00 A0 00 08 00 00 00 00 00 00 00 00,1

In [159]:
a = pandas.read_csv('test.csv')

In [160]:
a[a['label'] == 1]

,Timestamp,ID,DLC,Flg,Dir,Payload,label
4737709,4063.80237,00000145,20,FB,R,14 D7 18 10 01 00 00 00 00 00 00 00 00 00 00 0...,1
4737710,4063.80256,000000EA,18,FB,R,B5 65 DD 10 41 43 00 00 F5 07 E7 0F EB FF 00 0...,1
4737714,4063.80343,00000040,20,FB,R,82 46 DA 00 10 FF 07 08 00 00 FF 07 00 00 FF 0...,1
4737716,4063.80365,0000006A,20,FB,R,B1 69 DA EC 08 7A F0 08 00 00 00 00 00 3E 02 0...,1
4737717,4063.80434,00000060,20,FB,R,56 3C 4B 00 00 00 00 00 02 02 00 02 40 FF 00 F...,1
4737718,4063.80453,000000B0,18,FB,R,EC 22 4B 64 64 64 64 00 00 B8 0B 00 00 00 00 0...,1
4737720,4063.80475,000000B5,20,FB,R,94 0B E3 1C 00 7F 1F 00 1C 00 1C 00 00 00 2C 0...,1
4737721,4063.80505,00000100,20,FB,R,46 99 E3 00 10 CB 80 6C 40 00 25 00 00 00 00 5...,1
4737722,4063.80524,0000006F,8,FB,R,42 64 4B 00 00 00 00 00,1
4737724,4063.80564,00000125,10,FB,R,DD 6F 41 EE FF 00 07 00 00 00 00 00 00 00 00 00,1
4737725,4063.80585,00000140,8,FB,R,19 4F 27 41 80 00 00 00,1
4737726,4063.80631,0000012A,10,FB,R,24 63 3A 02 40 00 08 00 00 00 01 00 00 64 00 00,1
4737727,4063.80646,0000011A,10,FB,R,27 66 3A 00 80 00 A8 02 00 04 08 00 00 00 00 00,1
4737728,4063.80686,00000155,10,FB,R,E3 AF D2 13 00 00 00 00 00 00 00 00 00 00 00 00,1
4737730,4063.80708,0000004A,20,FB,R,63 5B D1 00 00 00 02 00 FB 7F 9B 7F 15 7D 68 0...,1
4737736,4063.80796,0000007A,18,FB,R,25 11 4C 8E 8E 8E 8E 00 00 00 00 00 00 00 00 0...,1
4737738,4063.80815,000000A5,18,FB,R,73 C2 4C FE D1 1F F9 01 00 22 20 00 00 00 00 0...,1
4737745,4063.80924,00000065,18,FB,R,EB BE 4B 00 00 F2 FF 10 00 00 00 00 00 00 00 0...,1
4737748,4063.80961,000000A0,18,FB,R,23 51 4B 3C D9 6D 34 00 00 00 00 00 00 00 00 0...,1
4737752,4063.81077,000001AA,10,FB,R,89 77 34 10 00 A0 00 08 00 00 00 00 00 00 00 00,1

In [4]:
data = pd.read_csv('can_data.csv')

In [5]:
data = data.head(20)

In [6]:
data

    Timestamp        ID  DLC                  Payload  label
0   325.94738  00000356    8  00 00 00 80 23 00 00 00      0
1   325.94760  00000366    7     32 18 0B 32 1F 00 01      0
2   325.94785  00000367    8  00 00 00 00 05 00 00 00      0
3   325.94809  00000153    8  20 80 10 FF 00 FF 90 3E      0
4   325.94832  00000220    8  DB C3 76 A8 05 FD 8F 54      0
5   325.94856  00000368    8  00 00 00 00 01 10 0B 42      0
6   325.94880  00000130    8  0C 80 D8 7E 00 00 02 00      0
7   325.94904  00000140    8  D8 7D 00 64 20 00 02 A1      0
8   325.94922  00000453    5           00 80 82 00 95      0
9   325.94945  00000470    8  05 01 04 04 54 50 54 49      0
10  325.94971  00000559    8  00 00 00 00 00 00 00 00      0
11  325.95164  00000251    8  AB 03 FD 65 00 BE 67 7F      0
12  325.95184  000002B0    6        EA FF 00 07 ED A2      0
13  325.95208  0000038D    8  00 00 49 00 C0 7F FE 79      0
14  325.95232  00000420    8  20 1E 00 C8 FC 4F 6A 00      0
15  325.95256  00000421    8  FE 07 00 FF E3 7F 00 F8      0
16  325.95281  00000389    8  00 00 00 20 00 00 68 00      0
17  325.95300  00000164    4              00 08 06 E5      0
18  325.95329  00000340    8  04 00 00 24 B6 01 16 11      0
19  325.95354  00000386    8  00 40 00 00 00 40 00 80      0

In [7]:
data['label'] = 1

In [8]:
data

    Timestamp        ID  DLC                  Payload  label
0   325.94738  00000356    8  00 00 00 80 23 00 00 00      1
1   325.94760  00000366    7     32 18 0B 32 1F 00 01      1
2   325.94785  00000367    8  00 00 00 00 05 00 00 00      1
3   325.94809  00000153    8  20 80 10 FF 00 FF 90 3E      1
4   325.94832  00000220    8  DB C3 76 A8 05 FD 8F 54      1
5   325.94856  00000368    8  00 00 00 00 01 10 0B 42      1
6   325.94880  00000130    8  0C 80 D8 7E 00 00 02 00      1
7   325.94904  00000140    8  D8 7D 00 64 20 00 02 A1      1
8   325.94922  00000453    5           00 80 82 00 95      1
9   325.94945  00000470    8  05 01 04 04 54 50 54 49      1
10  325.94971  00000559    8  00 00 00 00 00 00 00 00      1
11  325.95164  00000251    8  AB 03 FD 65 00 BE 67 7F      1
12  325.95184  000002B0    6        EA FF 00 07 ED A2      1
13  325.95208  0000038D    8  00 00 49 00 C0 7F FE 79      1
14  325.95232  00000420    8  20 1E 00 C8 FC 4F 6A 00      1
15  325.95256  00000421    8  FE 07 00 FF E3 7F 00 F8      1
16  325.95281  00000389    8  00 00 00 20 00 00 68 00      1
17  325.95300  00000164    4              00 08 06 E5      1
18  325.95329  00000340    8  04 00 00 24 B6 01 16 11      1
19  325.95354  00000386    8  00 40 00 00 00 40 00 80      1

In [9]:
data.to_csv(f'can_replay_dummy.csv', sep = ',', index = False)

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('can_data_dos.csv')

In [3]:
data

          Timestamp        ID  DLC                  Payload  label
0         325.94738  00000356    8  00 00 00 80 23 00 00 00      0
1         325.94760  00000366    7     32 18 0B 32 1F 00 01      0
2         325.94785  00000367    8  00 00 00 00 05 00 00 00      0
3         325.94809  00000153    8  20 80 10 FF 00 FF 90 3E      0
4         325.94832  00000220    8  DB C3 76 A8 05 FD 8F 54      0
...             ...       ...  ...                      ...    ...
5676769  2646.72093  000002B0    6        08 00 00 07 78 2F      0
5676770  2646.72117  00000381    8  80 B0 40 00 00 45 4A 05      0
5676771  2646.72140  00000421    8  FE 07 00 FF E3 7F 00 25      0
5676772  2646.72165  0000042D    8  00 00 00 00 00 D0 07 FA      0
5676773  2646.72189  00000356    8  00 00 00 80 14 00 00 00      0

[5676774 rows x 5 columns]

In [4]:
data[data['label'] == 1]

          Timestamp        ID  DLC                  Payload  label
162195    393.28849  00000000    8  00 00 00 00 00 00 00 00      1
162197    393.28874  00000000    8  00 00 00 00 00 00 00 00      1
162199    393.28899  00000000    8  00 00 00 00 00 00 00 00      1
162201    393.28924  00000000    8  00 00 00 00 00 00 00 00      1
162203    393.28949  00000000    8  00 00 00 00 00 00 00 00      1
...             ...       ...  ...                      ...    ...
4959463  2348.82489  00000000    8  00 00 00 00 00 00 00 00      1
4959466  2348.82514  00000000    8  00 00 00 00 00 00 00 00      1
4959467  2348.82539  00000000    8  00 00 00 00 00 00 00 00      1
4959468  2348.82564  00000000    8  00 00 00 00 00 00 00 00      1
4959469  2348.82589  00000000    8  00 00 00 00 00 00 00 00      1

[100000 rows x 5 columns]

In [5]:
data = pd.read_csv('can_data_dos_fuzzing.csv')

In [6]:
data

          Timestamp        ID  DLC                  Payload  label
0         325.94738  00000356    8  00 00 00 80 23 00 00 00      0
1         325.94760  00000366    7     32 18 0B 32 1F 00 01      0
2         325.94785  00000367    8  00 00 00 00 05 00 00 00      0
3         325.94809  00000153    8  20 80 10 FF 00 FF 90 3E      0
4         325.94832  00000220    8  DB C3 76 A8 05 FD 8F 54      0
...             ...       ...  ...                      ...    ...
5776769  2646.72093  000002B0    6        08 00 00 07 78 2F      0
5776770  2646.72117  00000381    8  80 B0 40 00 00 45 4A 05      0
5776771  2646.72140  00000421    8  FE 07 00 FF E3 7F 00 25      0
5776772  2646.72165  0000042D    8  00 00 00 00 00 D0 07 FA      0
5776773  2646.72189  00000356    8  00 00 00 80 14 00 00 00      0

[5776774 rows x 5 columns]

In [8]:
data[data['label'] == 2]

          Timestamp        ID  DLC                  Payload  label
521549    537.51630  00000E14    4              20 92 68 F0      2
521551    537.51655  0000042F    5           78 F1 63 52 AD      2
521553    537.51680  00000569    8  BC E9 F9 19 9E E2 BC 0B      2
521555    537.51705  0000042D    3                 D9 F0 1A      2
521557    537.51730  00000A03    3                 A5 73 DA      2
...             ...       ...  ...                      ...    ...
5244795  2425.82426  000002E4    3                 75 69 CE      2
5244796  2425.82451  000008CF    4              6C EA 59 6D      2
5244798  2425.82476  000002A1    4              5A B1 C9 7C      2
5244799  2425.82501  00000447    4              FA 93 D4 B5      2
5244800  2425.82526  00000F90    4              3D 29 6F 84      2

[100000 rows x 5 columns]

In [14]:
data = pd.read_csv('can_data_dos_fuzzing_spoofing.csv')

In [15]:
data[data['label'] == 3]

Empty DataFrame
Columns: [Timestamp, ID, DLC, Payload, label]
Index: []

In [1]:
import pandas as pd

In [2]:
test = pd.read_csv('test.csv')

In [3]:
test[test['label'] == 1]

,Timestamp,ID,DLC,Flg,Dir,Payload,label
1013882,2586.699490,00000145,20,FB,R,14 D7 18 10 01 00 00 00 00 00 00 00 00 00 00 0...,1
1013884,2586.699680,000000EA,18,FB,R,B5 65 DD 10 41 43 00 00 F5 07 E7 0F EB FF 00 0...,1
1013887,2586.700550,00000040,20,FB,R,82 46 DA 00 10 FF 07 08 00 00 FF 07 00 00 FF 0...,1
1013888,2586.700770,0000006A,20,FB,R,B1 69 DA EC 08 7A F0 08 00 00 00 00 00 3E 02 0...,1
1013889,2586.701460,00000060,20,FB,R,56 3C 4B 00 00 00 00 00 02 02 00 02 40 FF 00 F...,1
...,...,...,...,...,...,...,...
7874649,43960.715304,0000007A,18,FB,R,25 11 4C 8E 8E 8E 8E 00 00 00 00 00 00 00 00 0...,1
7874651,43960.715494,000000A5,18,FB,R,73 C2 4C FE D1 1F F9 01 00 22 20 00 00 00 00 0...,1
7874654,43960.716584,00000065,18,FB,R,EB BE 4B 00 00 F2 FF 10 00 00 00 00 00 00 00 0...,1
7874656,43960.716954,000000A0,18,FB,R,23 51 4B 3C D9 6D 34 00 00 00 00 00 00 00 00 0...,1
7874660,43960.718114,000001AA,10,FB,R,89 77 34 10 00 A0 00 08 00 00 00 00 00 00 00 00,1