In [1]:
import pandas as pd
from tqdm import tqdm
import numpy as np
import re

In [84]:
fd_dataset = pd.read_csv('data/fd_verify_added_scenario_5.csv')

In [95]:
len(fd_dataset[fd_dataset['label'] == 0])

8358442

In [37]:
can = pd.read_csv('data/can_data.csv')

In [38]:
can_filtered = can[(can['Timestamp'] > 325) & (can['Timestamp'] < 341)]

In [39]:
can_filtered

       Timestamp        ID  DLC                  Payload  label
0      325.94738  00000356    8  00 00 00 80 23 00 00 00      0
1      325.94760  00000366    7     32 18 0B 32 1F 00 01      0
2      325.94785  00000367    8  00 00 00 00 05 00 00 00      0
3      325.94809  00000153    8  20 80 10 FF 00 FF 90 3E      0
4      325.94832  00000220    8  DB C3 76 A8 05 FD 8F 54      0
...          ...       ...  ...                      ...    ...
36197  340.99830  00000153    8  20 80 10 FF 00 FF E0 8E      0
36198  340.99853  00000368    8  00 17 63 00 04 E8 0F 48      0
36199  340.99878  00000479    8  2C 00 00 00 00 00 00 00      0
36200  340.99902  0000047F    8  00 68 FF FA 00 78 00 93      0
36201  340.99993  00000130    8  BC 7E 78 7E 00 00 02 DA      0

[36202 rows x 5 columns]

In [23]:
a = pd.read_csv('data/can_verify_added_scenario_5.csv')
b = a[a['label'] == 1]
b['ID'].unique()

array(['00000164', '0000007f', '00000386', '00000367', '00000555'],
      dtype=object)

In [28]:
attack_1 = b[b['ID'] == '00000164'].head(1)
attack_2 = b[b['ID'] == '0000007f'].head(1)
attack_3 = b[b['ID'] == '00000386'].head(1)
attack_4 = b[b['ID'] == '00000367'].head(1)
attack_5 = b[b['ID'] == '00000555'].head(1)

In [32]:
attack_list = [attack_1, attack_2, attack_3, attack_4, attack_5]

In [40]:
for attack in attack_list:
    for i in range(10):
        timestamp = np.random.uniform(330, 335, size = 1)
        timestamp = np.round(timestamp, 6)
        attack['Timestamp'] = timestamp
        can_filtered = pd.concat([can_filtered, attack], ignore_index = True)

In [41]:
can_filtered = can_filtered.sort_values(['Timestamp'])

In [43]:
can_filtered.to_csv('./verify/can_verify_dataset.csv', sep = ',', index = False)

In [69]:
can_verify = pd.read_csv('./verify/can_verify_dataset.csv')
fd_verify = pd.read_csv('./verify/fd_verify_dataset.csv')

In [79]:
can_verify_attack = can_verify[can_verify['label'] == 1]
can_verify_attack[can_verify_attack['ID'] == '00000386']

        Timestamp        ID  DLC                  Payload  label
10931  330.489580  00000386    8  00 00 00 00 FF FF 55 55      1
11485  330.721056  00000386    8  00 00 00 00 FF FF 55 55      1
12662  331.204891  00000386    8  00 00 00 00 FF FF 55 55      1
17420  333.176196  00000386    8  00 00 00 00 FF FF 55 55      1
17787  333.329731  00000386    8  00 00 00 00 FF FF 55 55      1
18255  333.525091  00000386    8  00 00 00 00 FF FF 55 55      1
18661  333.689042  00000386    8  00 00 00 00 FF FF 55 55      1
18756  333.729434  00000386    8  00 00 00 00 FF FF 55 55      1
18907  333.789195  00000386    8  00 00 00 00 FF FF 55 55      1
20794  334.573008  00000386    8  00 00 00 00 FF FF 55 55      1

In [83]:
fd_verify_attack = fd_verify[fd_verify['label'] == 1]
fd_verify_attack[fd_verify_attack['ID'] == '000000BA']

       Timestamp        ID DLC                                 Payload  label
0   1.726212e+12  000000BA   D  D0 55 26 FF 00 00 24 00 00 00 2C 00 00      1
5   1.726212e+12  000000BA   D  D0 55 26 FF 00 00 24 00 00 00 2C 00 00      1
8   1.726212e+12  000000BA   D  D0 55 26 FF 00 00 24 00 00 00 2C 00 00      1
10  1.726212e+12  000000BA   D  D0 55 26 FF 00 00 24 00 00 00 2C 00 00      1
30  1.726212e+12  000000BA   D  D0 55 26 FF 00 00 24 00 00 00 2C 00 00      1
40  1.726212e+12  000000BA   D  D0 55 26 FF 00 00 24 00 00 00 2C 00 00      1
51  1.726212e+12  000000BA   D  D0 55 26 FF 00 00 24 00 00 00 2C 00 00      1
57  1.726212e+12  000000BA   D  D0 55 26 FF 00 00 24 00 00 00 2C 00 00      1
69  1.726212e+12  000000BA   D  D0 55 26 FF 00 00 24 00 00 00 2C 00 00      1
75  1.726212e+12  000000BA   D  D0 55 26 FF 00 00 24 00 00 00 2C 00 00      1

In [45]:
fd = pd.read_csv('data/new_carnival_fd_data.csv')

In [50]:
fd_filtered = fd[(fd['Timestamp'] > 1726211611967) & (fd['Timestamp'] < 1726211611983)]

In [51]:
a = pd.read_csv('data/fd_verify_added_scenario_5.csv')
b = a[a['label'] == 1]
b['ID'].unique()

array(['00000555', '000000BA', '00000260', '0000006A', '000001AA'],
      dtype=object)

In [52]:
attack_1 = b[b['ID'] == '000000BA'].head(1)
attack_2 = b[b['ID'] == '00000260'].head(1)
attack_3 = b[b['ID'] == '0000006A'].head(1)
attack_4 = b[b['ID'] == '000001AA'].head(1)
attack_5 = b[b['ID'] == '00000555'].head(1)

In [53]:
attack_list = [attack_1, attack_2, attack_3, attack_4, attack_5]

In [58]:
for attack in attack_list:
    for i in range(10):
        timestamp = np.random.uniform(1726211611967, 1726211611983, size = 1)
        timestamp = np.round(timestamp, 1)
        attack['Timestamp'] = timestamp
        fd_filtered = pd.concat([fd_filtered, attack], ignore_index = True)

In [59]:
fd_filtered = fd_filtered.sort_values(['Timestamp'])

In [61]:
fd_filtered

,Timestamp,ID,DLC,Payload,label
30,1.726212e+12,000000BA,D,D0 55 26 FF 00 00 24 00 00 00 2C 00 00,1
0,1.726212e+12,00000001,4,00 00 00 00,0
1,1.726212e+12,0000012A,A,98 30 2C 06 00 00 08 00 00 00,0
58,1.726212e+12,000001AA,A,17 D5 6A 00 00 98 FF FF FF FF,1
2,1.726212e+12,0000011A,A,7B 4E 2C 05 80 08 A8 02 00 05,0
...,...,...,...,...,...
24,1.726212e+12,0000015A,8,7B C0 4E 00 00 80 57 00,0
38,1.726212e+12,00000260,4,26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26,1
25,1.726212e+12,0000004A,D,C4 C3 3D 00 00 00 02 00 CB 7F D1 7F 0D,0
75,1.726212e+12,00000555,10,55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55,1
33,1.726212e+12,000000BA,D,D0 55 26 FF 00 00 24 00 00 00 2C 00 00,1

In [62]:
fd_filtered.to_csv('./verify/fd_verify_dataset.csv', sep = ',', index = False)

In [14]:
a[a['label'] == 1]['ID'].unique()

array(['00000164', '0000007f', '00000386', '00000367', '00000555'],
      dtype=object)

In [15]:
b = a[a['ID'] == '00000164']
b[b['label'] == 1]

           Timestamp        ID  DLC                  Payload  label
3422       327.37233  00000164    4  26 26 26 26 26 26 26 26      1
3424       327.37258  00000164    4  26 26 26 26 26 26 26 26      1
3426       327.37283  00000164    4  26 26 26 26 26 26 26 26      1
3428       327.37308  00000164    4  26 26 26 26 26 26 26 26      1
3429       327.37333  00000164    4  26 26 26 26 26 26 26 26      1
...              ...       ...  ...                      ...    ...
10470333  2615.56993  00000164    4  26 26 26 26 26 26 26 26      1
10470335  2615.57018  00000164    4  26 26 26 26 26 26 26 26      1
10470338  2615.57043  00000164    4  26 26 26 26 26 26 26 26      1
10470341  2615.57068  00000164    4  26 26 26 26 26 26 26 26      1
10470343  2615.57093  00000164    4  26 26 26 26 26 26 26 26      1

[1000000 rows x 5 columns]

In [2]:
with open('./raw-data/2024-11-01 10_16_02.613448.txt', 'r') as f:
    data = f.read()

In [3]:
data_list = data.split()

In [4]:
len(data_list)

167754496

In [77]:
__HEX = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F']
from random import randint

In [78]:
payload = [__HEX[randint(0, 15)] + __HEX[randint(0, 15)] for _ in range(7)]
payload += ['0A']
payload += [__HEX[randint(0, 15)] + __HEX[randint(0, 15)] for _ in range(5)]
payload

['81', 'CB', '73', 'A7', 'C3', '26', '16', '0A', 'D2', '87', '7E', 'C7', 'B2']

In [6]:
result = []
i = 0

while i < len(data_list):
    timestamp = float(data_list[i])
    id_value = f'00000{data_list[i + 1]}'
    dlc = int(data_list[i + 2])
    
    payloads = data_list[i + 3: i + 3 + dlc]    
    
    payload = ' '.join(payloads)
    # print([timestamp, id_value, hex(dlc)[2:].upper(), payload])
    result.append([timestamp, id_value, hex(dlc)[2:].upper(), payload])
    i += 3 + dlc

In [7]:
__COLUMNS = ['Timestamp', 'ID', 'DLC', 'Payload']
dataframe = pd.DataFrame(columns = __COLUMNS, data = result)

In [8]:
dataframe['label'] = np.array([0 for i in range(len(dataframe))])

In [20]:
a = dataframe[dataframe['ID'] == '000000B5']
a
# a[a['Payload'] == "E3 BC 40 10 00 A0 00 00 00 00 00 00 00 00 00 00"]

,Timestamp,ID,DLC,Payload,label
10,1.730424e+12,000000B5,20,C0 E1 AB 27 00 00 1C 00 27 00 27 00 00 00 29 0...,0
39,1.730424e+12,000000B5,20,0D 74 AC 27 00 00 1C 00 27 00 27 00 00 00 29 0...,0
56,1.730424e+12,000000B5,20,4B 2D AD 27 00 00 1C 00 27 00 27 00 00 00 29 0...,0
73,1.730424e+12,000000B5,20,81 C6 AE 27 00 00 1C 00 27 00 27 00 00 00 29 0...,0
91,1.730424e+12,000000B5,20,4B D0 AF 27 00 00 1C 00 27 00 27 00 00 00 29 0...,0
...,...,...,...,...,...
6648329,1.730427e+12,000000B5,20,81 9E CD 1F 00 00 19 00 1F 00 20 00 00 00 32 0...,0
6648355,1.730427e+12,000000B5,20,40 98 CE 20 00 00 19 00 20 00 20 00 00 00 32 0...,0
6648372,1.730427e+12,000000B5,20,C3 2C CF 20 00 00 19 00 20 00 1F 00 00 00 32 0...,0
6648390,1.730427e+12,000000B5,20,03 A6 D0 20 00 00 19 00 20 00 1F 00 00 00 32 0...,0
6648411,1.730427e+12,000000B5,20,45 FF D1 20 00 00 19 00 20 00 1F 00 00 00 32 0...,0

In [10]:
dataframe.to_csv(f'data/carnival_stopped_data.csv', sep = ',', index = False)

In [71]:
sorted(dataframe['ID'].unique().tolist())

['00000001',
 '00000040',
 '0000004A',
 '00000060',
 '0000006A',
 '0000006F',
 '000000A0',
 '000000B5',
 '000000EA',
 '00000100',
 '0000011A',
 '00000125',
 '0000012A',
 '00000145',
 '0000015A',
 '00000160',
 '00000165',
 '00000170',
 '00000175',
 '000001A0',
 '000001AA',
 '000001BA',
 '000001E5',
 '000001F0',
 '0000020A',
 '00000225',
 '00000260',
 '0000037F',
 '000003E0',
 '000003FF',
 '00000405',
 '00000410',
 '00000411',
 '00000412',
 '00000413',
 '00000414',
 '00000416',
 '00000417',
 '00000418',
 '00000419',
 '00000489',
 '0000048A',
 '0000048F']

In [75]:
dataframe[dataframe['ID'] == '00000417']

            Timestamp        ID DLC                  Payload  label
225      1.726212e+12  00000417   8  7B 10 00 95 30 01 00 00      0
594      1.726212e+12  00000417   8  7B 10 00 95 30 01 00 00      0
956      1.726212e+12  00000417   8  7B 10 00 95 30 01 00 00      0
1325     1.726212e+12  00000417   8  7B 10 00 95 30 01 00 00      0
1689     1.726212e+12  00000417   8  7B 10 00 95 30 01 00 00      0
...               ...       ...  ..                      ...    ...
8356664  1.726216e+12  00000417   8  93 40 00 95 30 00 00 00      0
8357031  1.726216e+12  00000417   8  93 40 00 95 30 00 00 00      0
8357398  1.726216e+12  00000417   8  93 40 00 95 30 00 00 00      0
8357765  1.726216e+12  00000417   8  93 40 00 95 30 00 00 00      0
8358133  1.726216e+12  00000417   8  93 40 00 95 30 00 00 00      0

[22802 rows x 5 columns]

In [2]:
a = pd.read_csv('data/carnival_pangyo.csv')

In [79]:
data = pd.read_csv('data/new_carnival_spoofing_06a_v2.csv')

In [80]:
data[data['label'] == 1]

            Timestamp   ID DLC                                 Payload  label
17701    1.726212e+12  06A   D  75 71 D1 CF FD 66 EB 0A 99 2C CC FE 80      1
17702    1.726212e+12  06A   D  B1 30 94 4D 00 EB 66 0A CB D5 04 41 C9      1
17703    1.726212e+12  06A   D  6D C8 C3 08 12 F6 5B 0A F7 1C 26 D3 1E      1
17704    1.726212e+12  06A   D  E2 31 7E 16 E8 A1 57 0A FD AC 91 0A B7      1
17705    1.726212e+12  06A   D  16 8E E0 A8 45 75 B4 0A 18 2C F5 D7 13      1
...               ...  ...  ..                                     ...    ...
8531811  1.726216e+12  06A   D  39 86 CC C8 AA 40 0B 0A 6C 06 23 4C FB      1
8531812  1.726216e+12  06A   D  90 BB 90 7C F4 2D DB 0A B7 72 E6 B0 FA      1
8531813  1.726216e+12  06A   D  B5 AA F5 4B 54 2F AA 0A 1D C2 D2 9D 2A      1
8531814  1.726216e+12  06A   D  37 80 73 28 2B 95 24 0A 19 0E 91 01 2D      1
8531815  1.726216e+12  06A   D  9E 02 E3 C6 AD D9 EE 0A C7 B9 B8 78 7B      1

[200000 rows x 5 columns]

In [11]:
f = open('raw-data/2023_10_30_sum.txt')

In [3]:
a = f.readlines()
last = len(a)
counter = 0
for line in tqdm(a, leave = True):
    if counter == last - 1:
        print(line)
        break
    counter += 1

100%|█████████▉| 3249525/3249526 [00:00<00:00, 3513097.98it/s]

STD[FDBRS] 0B5h 32 6342729.2 21 1D 0A 22 00 00 22 00 22 00 22 00 00 FE 38 00 4F 00 00 40 14 04 50 0C 00 1D 00 00 00 02 00 00

In [37]:
input_data = open('raw-data/2023_05_04_pangyo.txt')

for i in range(4):
    input_data.readline()
data = list()
temp = None
string = None
dlc = 0
counter = 0
for line in tqdm(input_data.readlines(), leave = True):
    line = line.split()
    temp = [line[3], f'00000{line[1][:3]}', format(int(line[2]), 'x')]
    string = ' '.join(line[4:])
    temp.append(string)
    data.append(np.array(temp))
    
data = np.array(data)
dataframe = pd.DataFrame(columns = ['Timestamp', 'ID', 'DLC', 'Payload'], data = data)
label = np.array([0 for i in range(len(dataframe))])
dataframe['label'] = label

100%|██████████| 3321576/3321576 [00:15<00:00, 217922.58it/s]

In [38]:
dataframe

,Timestamp,ID,DLC,Payload,label
0,61469806.4,0000011A,10,89 7A 16 05 80 08 A8 02 00 05 00 00 00 00 00 00,0
1,61469806.5,0000012A,10,67 B4 16 02 40 00 08 00 00 00 01 00 00 64 00 00,0
2,61469807.7,000000EA,18,F0 C8 1D 00 01 41 00 00 6D 06 C5 0E 00 00 00 0...,0
3,61469807.9,00000160,10,8F 6E 09 03 00 00 00 02 FF FC 01 00 00 00 00 00,0
4,61469808.1,000001A0,20,63 B2 09 FE 27 35 64 00 00 00 00 00 1E 08 01 0...,0
...,...,...,...,...,...
3321571,63303517.7,0000012A,10,B3 33 43 02 40 00 08 00 00 00 01 00 00 64 00 00,0
3321572,63303517.9,0000011A,10,5D FD 43 05 80 08 A8 02 00 05 00 00 00 00 00 00,0
3321573,63303518.1,0000004A,20,7C F3 71 00 00 00 02 00 D1 82 97 81 2E 7F 68 0...,0
3321574,63303519.3,00000125,10,3B 13 0D 0E 01 01 07 00 00 00 00 00 00 00 00 00,0
3321575,63303522.1,00000060,20,12 3F 75 00 00 00 00 00 02 02 00 02 40 FF 00 F...,0

In [26]:
print(counter)

426

In [6]:
import numpy as np

a = list()
a.append(np.array([1, 2, 3]))
a.append(np.array([2, 3, 4]))
a

[array([1, 2, 3]), array([2, 3, 4])]

In [58]:
a[-1] = np.concatenate([a[-1], np.array([5, 6])])
a

[array([1, 2, 3]), array([2, 3, 4, 5, 6])]

In [60]:
np.put(a[-1], -1, 10)

In [1]:
a

NameError: name 'a' is not defined

In [2]:
import json

In [4]:
with open('DefaultPayload.json', 'r') as file:
    jsonfile = json.load(file)

In [11]:
data = jsonfile['can']['dos']

In [1]:
data['payload']

NameError: name 'data' is not defined

In [90]:
import pandas

In [96]:
data = pandas.read_csv('can-fd_replay_dummy.csv')

In [97]:
data

,Timestamp,ID,DLC,Flg,Dir,Payload,label
0,2179.63603,00000145,20,FB,R,14 D7 18 10 01 00 00 00 00 00 00 00 00 00 00 0...,1
1,2179.63622,000000EA,18,FB,R,B5 65 DD 10 41 43 00 00 F5 07 E7 0F EB FF 00 0...,1
2,2179.63709,00000040,20,FB,R,82 46 DA 00 10 FF 07 08 00 00 FF 07 00 00 FF 0...,1
3,2179.63731,0000006A,20,FB,R,B1 69 DA EC 08 7A F0 08 00 00 00 00 00 3E 02 0...,1
4,2179.63800,00000060,20,FB,R,56 3C 4B 00 00 00 00 00 02 02 00 02 40 FF 00 F...,1
5,2179.63819,000000B0,18,FB,R,EC 22 4B 64 64 64 64 00 00 B8 0B 00 00 00 00 0...,1
6,2179.63841,000000B5,20,FB,R,94 0B E3 1C 00 7F 1F 00 1C 00 1C 00 00 00 2C 0...,1
7,2179.63871,00000100,20,FB,R,46 99 E3 00 10 CB 80 6C 40 00 25 00 00 00 00 5...,1
8,2179.63890,0000006F,8,FB,R,42 64 4B 00 00 00 00 00,1
9,2179.63930,00000125,10,FB,R,DD 6F 41 EE FF 00 07 00 00 00 00 00 00 00 00 00,1
10,2179.63951,00000140,8,FB,R,19 4F 27 41 80 00 00 00,1
11,2179.63997,0000012A,10,FB,R,24 63 3A 02 40 00 08 00 00 00 01 00 00 64 00 00,1
12,2179.64012,0000011A,10,FB,R,27 66 3A 00 80 00 A8 02 00 04 08 00 00 00 00 00,1
13,2179.64052,00000155,10,FB,R,E3 AF D2 13 00 00 00 00 00 00 00 00 00 00 00 00,1
14,2179.64074,0000004A,20,FB,R,63 5B D1 00 00 00 02 00 FB 7F 9B 7F 15 7D 68 0...,1
15,2179.64162,0000007A,18,FB,R,25 11 4C 8E 8E 8E 8E 00 00 00 00 00 00 00 00 0...,1
16,2179.64181,000000A5,18,FB,R,73 C2 4C FE D1 1F F9 01 00 22 20 00 00 00 00 0...,1
17,2179.64290,00000065,18,FB,R,EB BE 4B 00 00 F2 FF 10 00 00 00 00 00 00 00 0...,1
18,2179.64327,000000A0,18,FB,R,23 51 4B 3C D9 6D 34 00 00 00 00 00 00 00 00 0...,1
19,2179.64443,000001AA,10,FB,R,89 77 34 10 00 A0 00 08 00 00 00 00 00 00 00 00,1

In [98]:
data['label'] = [1 for _ in range(len(data))]

In [99]:
data['Timestamp'] = data['Timestamp'] - 0.1

In [100]:
data.to_csv('can-fd_replay_dummy.csv', sep = ',', index = False)

In [120]:
import pandas

In [147]:
dump = pandas.read_csv('can-fd_replay_dummy.csv')

In [148]:
dump

,Timestamp,ID,DLC,Flg,Dir,Payload,label
0,2179.53603,00000145,20,FB,R,14 D7 18 10 01 00 00 00 00 00 00 00 00 00 00 0...,1
1,2179.53622,000000EA,18,FB,R,B5 65 DD 10 41 43 00 00 F5 07 E7 0F EB FF 00 0...,1
2,2179.53709,00000040,20,FB,R,82 46 DA 00 10 FF 07 08 00 00 FF 07 00 00 FF 0...,1
3,2179.53731,0000006A,20,FB,R,B1 69 DA EC 08 7A F0 08 00 00 00 00 00 3E 02 0...,1
4,2179.53800,00000060,20,FB,R,56 3C 4B 00 00 00 00 00 02 02 00 02 40 FF 00 F...,1
5,2179.53819,000000B0,18,FB,R,EC 22 4B 64 64 64 64 00 00 B8 0B 00 00 00 00 0...,1
6,2179.53841,000000B5,20,FB,R,94 0B E3 1C 00 7F 1F 00 1C 00 1C 00 00 00 2C 0...,1
7,2179.53871,00000100,20,FB,R,46 99 E3 00 10 CB 80 6C 40 00 25 00 00 00 00 5...,1
8,2179.53890,0000006F,8,FB,R,42 64 4B 00 00 00 00 00,1
9,2179.53930,00000125,10,FB,R,DD 6F 41 EE FF 00 07 00 00 00 00 00 00 00 00 00,1
10,2179.53951,00000140,8,FB,R,19 4F 27 41 80 00 00 00,1
11,2179.53997,0000012A,10,FB,R,24 63 3A 02 40 00 08 00 00 00 01 00 00 64 00 00,1
12,2179.54012,0000011A,10,FB,R,27 66 3A 00 80 00 A8 02 00 04 08 00 00 00 00 00,1
13,2179.54052,00000155,10,FB,R,E3 AF D2 13 00 00 00 00 00 00 00 00 00 00 00 00,1
14,2179.54074,0000004A,20,FB,R,63 5B D1 00 00 00 02 00 FB 7F 9B 7F 15 7D 68 0...,1
15,2179.54162,0000007A,18,FB,R,25 11 4C 8E 8E 8E 8E 00 00 00 00 00 00 00 00 0...,1
16,2179.54181,000000A5,18,FB,R,73 C2 4C FE D1 1F F9 01 00 22 20 00 00 00 00 0...,1
17,2179.54290,00000065,18,FB,R,EB BE 4B 00 00 F2 FF 10 00 00 00 00 00 00 00 0...,1
18,2179.54327,000000A0,18,FB,R,23 51 4B 3C D9 6D 34 00 00 00 00 00 00 00 00 0...,1
19,2179.54443,000001AA,10,FB,R,89 77 34 10 00 A0 00 08 00 00 00 00 00 00 00 00,1

In [149]:
base_timestamp = 1000.00000

In [150]:
timestamp_diff = dump['Timestamp'].diff().fillna(0).tolist()
for i in range(1, len(timestamp_diff)):
    timestamp_diff[i] += timestamp_diff[i - 1]

In [151]:
timestamp_diff

[0.0,
 0.0001899999997476698,
 0.0010600000000522414,
 0.0012799999999515421,
 0.0019699999998010753,
 0.0021600000000034925,
 0.002379999999902793,
 0.0026800000000548607,
 0.0028699999998025305,
 0.0032699999997021223,
 0.0034799999998540443,
 0.003940000000056898,
 0.004089999999905558,
 0.00448999999980515,
 0.004709999999704451,
 0.005589999999756401,
 0.005779999999958818,
 0.006869999999707943,
 0.007239999999910651,
 0.008399999999710417]

In [157]:
dump['Timestamp'] = pandas.DataFrame(columns = ['Timestamp'], data = timestamp_diff) + base_timestamp

In [158]:
dump

,Timestamp,ID,DLC,Flg,Dir,Payload,label
0,1000.00000,00000145,20,FB,R,14 D7 18 10 01 00 00 00 00 00 00 00 00 00 00 0...,1
1,1000.00019,000000EA,18,FB,R,B5 65 DD 10 41 43 00 00 F5 07 E7 0F EB FF 00 0...,1
2,1000.00106,00000040,20,FB,R,82 46 DA 00 10 FF 07 08 00 00 FF 07 00 00 FF 0...,1
3,1000.00128,0000006A,20,FB,R,B1 69 DA EC 08 7A F0 08 00 00 00 00 00 3E 02 0...,1
4,1000.00197,00000060,20,FB,R,56 3C 4B 00 00 00 00 00 02 02 00 02 40 FF 00 F...,1
5,1000.00216,000000B0,18,FB,R,EC 22 4B 64 64 64 64 00 00 B8 0B 00 00 00 00 0...,1
6,1000.00238,000000B5,20,FB,R,94 0B E3 1C 00 7F 1F 00 1C 00 1C 00 00 00 2C 0...,1
7,1000.00268,00000100,20,FB,R,46 99 E3 00 10 CB 80 6C 40 00 25 00 00 00 00 5...,1
8,1000.00287,0000006F,8,FB,R,42 64 4B 00 00 00 00 00,1
9,1000.00327,00000125,10,FB,R,DD 6F 41 EE FF 00 07 00 00 00 00 00 00 00 00 00,1
10,1000.00348,00000140,8,FB,R,19 4F 27 41 80 00 00 00,1
11,1000.00394,0000012A,10,FB,R,24 63 3A 02 40 00 08 00 00 00 01 00 00 64 00 00,1
12,1000.00409,0000011A,10,FB,R,27 66 3A 00 80 00 A8 02 00 04 08 00 00 00 00 00,1
13,1000.00449,00000155,10,FB,R,E3 AF D2 13 00 00 00 00 00 00 00 00 00 00 00 00,1
14,1000.00471,0000004A,20,FB,R,63 5B D1 00 00 00 02 00 FB 7F 9B 7F 15 7D 68 0...,1
15,1000.00559,0000007A,18,FB,R,25 11 4C 8E 8E 8E 8E 00 00 00 00 00 00 00 00 0...,1
16,1000.00578,000000A5,18,FB,R,73 C2 4C FE D1 1F F9 01 00 22 20 00 00 00 00 0...,1
17,1000.00687,00000065,18,FB,R,EB BE 4B 00 00 F2 FF 10 00 00 00 00 00 00 00 0...,1
18,1000.00724,000000A0,18,FB,R,23 51 4B 3C D9 6D 34 00 00 00 00 00 00 00 00 0...,1
19,1000.00840,000001AA,10,FB,R,89 77 34 10 00 A0 00 08 00 00 00 00 00 00 00 00,1

In [159]:
a = pandas.read_csv('test.csv')

In [160]:
a[a['label'] == 1]

,Timestamp,ID,DLC,Flg,Dir,Payload,label
4737709,4063.80237,00000145,20,FB,R,14 D7 18 10 01 00 00 00 00 00 00 00 00 00 00 0...,1
4737710,4063.80256,000000EA,18,FB,R,B5 65 DD 10 41 43 00 00 F5 07 E7 0F EB FF 00 0...,1
4737714,4063.80343,00000040,20,FB,R,82 46 DA 00 10 FF 07 08 00 00 FF 07 00 00 FF 0...,1
4737716,4063.80365,0000006A,20,FB,R,B1 69 DA EC 08 7A F0 08 00 00 00 00 00 3E 02 0...,1
4737717,4063.80434,00000060,20,FB,R,56 3C 4B 00 00 00 00 00 02 02 00 02 40 FF 00 F...,1
4737718,4063.80453,000000B0,18,FB,R,EC 22 4B 64 64 64 64 00 00 B8 0B 00 00 00 00 0...,1
4737720,4063.80475,000000B5,20,FB,R,94 0B E3 1C 00 7F 1F 00 1C 00 1C 00 00 00 2C 0...,1
4737721,4063.80505,00000100,20,FB,R,46 99 E3 00 10 CB 80 6C 40 00 25 00 00 00 00 5...,1
4737722,4063.80524,0000006F,8,FB,R,42 64 4B 00 00 00 00 00,1
4737724,4063.80564,00000125,10,FB,R,DD 6F 41 EE FF 00 07 00 00 00 00 00 00 00 00 00,1
4737725,4063.80585,00000140,8,FB,R,19 4F 27 41 80 00 00 00,1
4737726,4063.80631,0000012A,10,FB,R,24 63 3A 02 40 00 08 00 00 00 01 00 00 64 00 00,1
4737727,4063.80646,0000011A,10,FB,R,27 66 3A 00 80 00 A8 02 00 04 08 00 00 00 00 00,1
4737728,4063.80686,00000155,10,FB,R,E3 AF D2 13 00 00 00 00 00 00 00 00 00 00 00 00,1
4737730,4063.80708,0000004A,20,FB,R,63 5B D1 00 00 00 02 00 FB 7F 9B 7F 15 7D 68 0...,1
4737736,4063.80796,0000007A,18,FB,R,25 11 4C 8E 8E 8E 8E 00 00 00 00 00 00 00 00 0...,1
4737738,4063.80815,000000A5,18,FB,R,73 C2 4C FE D1 1F F9 01 00 22 20 00 00 00 00 0...,1
4737745,4063.80924,00000065,18,FB,R,EB BE 4B 00 00 F2 FF 10 00 00 00 00 00 00 00 0...,1
4737748,4063.80961,000000A0,18,FB,R,23 51 4B 3C D9 6D 34 00 00 00 00 00 00 00 00 0...,1
4737752,4063.81077,000001AA,10,FB,R,89 77 34 10 00 A0 00 08 00 00 00 00 00 00 00 00,1

In [4]:
data = pd.read_csv('can_data.csv')

In [5]:
data = data.head(20)

In [6]:
data

    Timestamp        ID  DLC                  Payload  label
0   325.94738  00000356    8  00 00 00 80 23 00 00 00      0
1   325.94760  00000366    7     32 18 0B 32 1F 00 01      0
2   325.94785  00000367    8  00 00 00 00 05 00 00 00      0
3   325.94809  00000153    8  20 80 10 FF 00 FF 90 3E      0
4   325.94832  00000220    8  DB C3 76 A8 05 FD 8F 54      0
5   325.94856  00000368    8  00 00 00 00 01 10 0B 42      0
6   325.94880  00000130    8  0C 80 D8 7E 00 00 02 00      0
7   325.94904  00000140    8  D8 7D 00 64 20 00 02 A1      0
8   325.94922  00000453    5           00 80 82 00 95      0
9   325.94945  00000470    8  05 01 04 04 54 50 54 49      0
10  325.94971  00000559    8  00 00 00 00 00 00 00 00      0
11  325.95164  00000251    8  AB 03 FD 65 00 BE 67 7F      0
12  325.95184  000002B0    6        EA FF 00 07 ED A2      0
13  325.95208  0000038D    8  00 00 49 00 C0 7F FE 79      0
14  325.95232  00000420    8  20 1E 00 C8 FC 4F 6A 00      0
15  325.95256  00000421    8  FE 07 00 FF E3 7F 00 F8      0
16  325.95281  00000389    8  00 00 00 20 00 00 68 00      0
17  325.95300  00000164    4              00 08 06 E5      0
18  325.95329  00000340    8  04 00 00 24 B6 01 16 11      0
19  325.95354  00000386    8  00 40 00 00 00 40 00 80      0

In [7]:
data['label'] = 1

In [8]:
data

    Timestamp        ID  DLC                  Payload  label
0   325.94738  00000356    8  00 00 00 80 23 00 00 00      1
1   325.94760  00000366    7     32 18 0B 32 1F 00 01      1
2   325.94785  00000367    8  00 00 00 00 05 00 00 00      1
3   325.94809  00000153    8  20 80 10 FF 00 FF 90 3E      1
4   325.94832  00000220    8  DB C3 76 A8 05 FD 8F 54      1
5   325.94856  00000368    8  00 00 00 00 01 10 0B 42      1
6   325.94880  00000130    8  0C 80 D8 7E 00 00 02 00      1
7   325.94904  00000140    8  D8 7D 00 64 20 00 02 A1      1
8   325.94922  00000453    5           00 80 82 00 95      1
9   325.94945  00000470    8  05 01 04 04 54 50 54 49      1
10  325.94971  00000559    8  00 00 00 00 00 00 00 00      1
11  325.95164  00000251    8  AB 03 FD 65 00 BE 67 7F      1
12  325.95184  000002B0    6        EA FF 00 07 ED A2      1
13  325.95208  0000038D    8  00 00 49 00 C0 7F FE 79      1
14  325.95232  00000420    8  20 1E 00 C8 FC 4F 6A 00      1
15  325.95256  00000421    8  FE 07 00 FF E3 7F 00 F8      1
16  325.95281  00000389    8  00 00 00 20 00 00 68 00      1
17  325.95300  00000164    4              00 08 06 E5      1
18  325.95329  00000340    8  04 00 00 24 B6 01 16 11      1
19  325.95354  00000386    8  00 40 00 00 00 40 00 80      1

In [9]:
data.to_csv(f'can_replay_dummy.csv', sep = ',', index = False)

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('can_data_dos.csv')

In [3]:
data

          Timestamp        ID  DLC                  Payload  label
0         325.94738  00000356    8  00 00 00 80 23 00 00 00      0
1         325.94760  00000366    7     32 18 0B 32 1F 00 01      0
2         325.94785  00000367    8  00 00 00 00 05 00 00 00      0
3         325.94809  00000153    8  20 80 10 FF 00 FF 90 3E      0
4         325.94832  00000220    8  DB C3 76 A8 05 FD 8F 54      0
...             ...       ...  ...                      ...    ...
5676769  2646.72093  000002B0    6        08 00 00 07 78 2F      0
5676770  2646.72117  00000381    8  80 B0 40 00 00 45 4A 05      0
5676771  2646.72140  00000421    8  FE 07 00 FF E3 7F 00 25      0
5676772  2646.72165  0000042D    8  00 00 00 00 00 D0 07 FA      0
5676773  2646.72189  00000356    8  00 00 00 80 14 00 00 00      0

[5676774 rows x 5 columns]

In [4]:
data[data['label'] == 1]

          Timestamp        ID  DLC                  Payload  label
162195    393.28849  00000000    8  00 00 00 00 00 00 00 00      1
162197    393.28874  00000000    8  00 00 00 00 00 00 00 00      1
162199    393.28899  00000000    8  00 00 00 00 00 00 00 00      1
162201    393.28924  00000000    8  00 00 00 00 00 00 00 00      1
162203    393.28949  00000000    8  00 00 00 00 00 00 00 00      1
...             ...       ...  ...                      ...    ...
4959463  2348.82489  00000000    8  00 00 00 00 00 00 00 00      1
4959466  2348.82514  00000000    8  00 00 00 00 00 00 00 00      1
4959467  2348.82539  00000000    8  00 00 00 00 00 00 00 00      1
4959468  2348.82564  00000000    8  00 00 00 00 00 00 00 00      1
4959469  2348.82589  00000000    8  00 00 00 00 00 00 00 00      1

[100000 rows x 5 columns]

In [5]:
data = pd.read_csv('can_data_dos_fuzzing.csv')

In [6]:
data

          Timestamp        ID  DLC                  Payload  label
0         325.94738  00000356    8  00 00 00 80 23 00 00 00      0
1         325.94760  00000366    7     32 18 0B 32 1F 00 01      0
2         325.94785  00000367    8  00 00 00 00 05 00 00 00      0
3         325.94809  00000153    8  20 80 10 FF 00 FF 90 3E      0
4         325.94832  00000220    8  DB C3 76 A8 05 FD 8F 54      0
...             ...       ...  ...                      ...    ...
5776769  2646.72093  000002B0    6        08 00 00 07 78 2F      0
5776770  2646.72117  00000381    8  80 B0 40 00 00 45 4A 05      0
5776771  2646.72140  00000421    8  FE 07 00 FF E3 7F 00 25      0
5776772  2646.72165  0000042D    8  00 00 00 00 00 D0 07 FA      0
5776773  2646.72189  00000356    8  00 00 00 80 14 00 00 00      0

[5776774 rows x 5 columns]

In [8]:
data[data['label'] == 2]

          Timestamp        ID  DLC                  Payload  label
521549    537.51630  00000E14    4              20 92 68 F0      2
521551    537.51655  0000042F    5           78 F1 63 52 AD      2
521553    537.51680  00000569    8  BC E9 F9 19 9E E2 BC 0B      2
521555    537.51705  0000042D    3                 D9 F0 1A      2
521557    537.51730  00000A03    3                 A5 73 DA      2
...             ...       ...  ...                      ...    ...
5244795  2425.82426  000002E4    3                 75 69 CE      2
5244796  2425.82451  000008CF    4              6C EA 59 6D      2
5244798  2425.82476  000002A1    4              5A B1 C9 7C      2
5244799  2425.82501  00000447    4              FA 93 D4 B5      2
5244800  2425.82526  00000F90    4              3D 29 6F 84      2

[100000 rows x 5 columns]

In [14]:
data = pd.read_csv('can_data_dos_fuzzing_spoofing.csv')

In [15]:
data[data['label'] == 3]

Empty DataFrame
Columns: [Timestamp, ID, DLC, Payload, label]
Index: []

In [1]:
import pandas as pd

In [2]:
test = pd.read_csv('test.csv')

In [3]:
test[test['label'] == 1]

,Timestamp,ID,DLC,Flg,Dir,Payload,label
1013882,2586.699490,00000145,20,FB,R,14 D7 18 10 01 00 00 00 00 00 00 00 00 00 00 0...,1
1013884,2586.699680,000000EA,18,FB,R,B5 65 DD 10 41 43 00 00 F5 07 E7 0F EB FF 00 0...,1
1013887,2586.700550,00000040,20,FB,R,82 46 DA 00 10 FF 07 08 00 00 FF 07 00 00 FF 0...,1
1013888,2586.700770,0000006A,20,FB,R,B1 69 DA EC 08 7A F0 08 00 00 00 00 00 3E 02 0...,1
1013889,2586.701460,00000060,20,FB,R,56 3C 4B 00 00 00 00 00 02 02 00 02 40 FF 00 F...,1
...,...,...,...,...,...,...,...
7874649,43960.715304,0000007A,18,FB,R,25 11 4C 8E 8E 8E 8E 00 00 00 00 00 00 00 00 0...,1
7874651,43960.715494,000000A5,18,FB,R,73 C2 4C FE D1 1F F9 01 00 22 20 00 00 00 00 0...,1
7874654,43960.716584,00000065,18,FB,R,EB BE 4B 00 00 F2 FF 10 00 00 00 00 00 00 00 0...,1
7874656,43960.716954,000000A0,18,FB,R,23 51 4B 3C D9 6D 34 00 00 00 00 00 00 00 00 0...,1
7874660,43960.718114,000001AA,10,FB,R,89 77 34 10 00 A0 00 08 00 00 00 00 00 00 00 00,1

In [1]:
import pandas

In [13]:
data = pandas.read_csv('data/carnival_gosokhwa.csv')

In [14]:
data

,Timestamp,ID,DLC,Payload,label
0,73374000.7,0000004A,20,AF A0 5B 00 00 00 02 00 87 80 02 81 D0 85 6D 0...,0
1,73374000.9,00000040,20,DB 89 63 00 15 FF 07 98 43 44 FF 07 33 21 FF 0...,0
2,73374001.1,0000006A,20,84 A1 63 6F 27 9D 6F 27 50 01 00 00 00 8C 07 0...,0
3,73374001.4,000000A0,18,54 C8 60 03 9F 92 11 00 80 06 84 06 69 06 6F 0...,0
4,73374001.7,000000B5,20,AE 95 62 B2 01 00 2A 00 B2 01 AF 01 00 FE 47 0...,0
...,...,...,...,...,...
1384794,74128064.8,0000006F,8,60 62 ED 00 00 00 00 00,0
1384795,74128065.2,000000A0,18,E3 24 ED 32 6E 80 31 00 DA 00 DC 00 D9 00 DB 0...,0
1384796,74128066.2,000000B5,20,4D 71 EE 45 00 00 20 00 45 00 45 00 00 FE 47 0...,0
1384797,74128066.4,000000EA,18,F2 BE 04 00 01 41 00 00 2A 08 CC 10 00 00 00 0...,0
1384798,74128066.5,0000011A,10,A1 CF BC 05 80 08 28 02 00 05 00 00 00 00 00 00,0

In [15]:
len(data['ID'].unique())

41

In [22]:
data = pandas.read_csv('can-fd_replay_dummy.csv')
data = data.drop(columns = ['Flg', 'Dir'])

In [24]:
data.to_csv('can-fd_replay_dummy.csv', sep = ',', index = False)

In [29]:
data = pandas.read_csv('data/carnival_pangyo_add_attack.csv')

In [30]:
data[data['label'] == 1].to_csv('data/test.csv', sep = ',', index = False)

In [31]:
data

,Timestamp,ID,DLC,Payload,label
0,61469806.4,0000011A,10,89 7A 16 05 80 08 A8 02 00 05 00 00 00 00 00 00,0
1,61469806.5,0000012A,10,67 B4 16 02 40 00 08 00 00 00 01 00 00 64 00 00,0
2,61469807.7,000000EA,18,F0 C8 1D 00 01 41 00 00 6D 06 C5 0E 00 00 00 0...,0
3,61469807.9,00000160,10,8F 6E 09 03 00 00 00 02 FF FC 01 00 00 00 00 00,0
4,61469808.1,000001A0,20,63 B2 09 FE 27 35 64 00 00 00 00 00 1E 08 01 0...,0
...,...,...,...,...,...
3341571,63303517.7,0000012A,10,B3 33 43 02 40 00 08 00 00 00 01 00 00 64 00 00,0
3341572,63303517.9,0000011A,10,5D FD 43 05 80 08 A8 02 00 05 00 00 00 00 00 00,0
3341573,63303518.1,0000004A,20,7C F3 71 00 00 00 02 00 D1 82 97 81 2E 7F 68 0...,0
3341574,63303519.3,00000125,10,3B 13 0D 0E 01 01 07 00 00 00 00 00 00 00 00 00,0
3341575,63303522.1,00000060,20,12 3F 75 00 00 00 00 00 02 02 00 02 40 FF 00 F...,0

In [1]:
import pandas as pd

In [9]:
data = pd.read_csv('data/can_data.csv')

In [10]:
len(data['ID'].unique())

78

In [13]:
data[data['ID'] == '000004CB']

          Timestamp        ID  DLC                  Payload  label
82        325.97980  000004CB    8  80 0A 00 00 00 00 00 00      0
562       326.17967  000004CB    8  80 0A 00 00 00 00 00 00      0
1043      326.37979  000004CB    8  80 0A 00 00 00 00 00 00      0
1519      326.57922  000004CB    8  80 0A 00 00 00 00 00 00      0
1996      326.77821  000004CB    8  80 0A 00 00 00 00 00 00      0
...             ...       ...  ...                      ...    ...
5574503  2645.77243  000004CB    8  00 00 00 00 00 00 00 00      0
5574985  2645.97245  000004CB    8  00 00 00 00 00 00 00 00      0
5575465  2646.17251  000004CB    8  00 00 00 00 00 00 00 00      0
5575943  2646.37257  000004CB    8  00 00 00 00 00 00 00 00      0
5576422  2646.57255  000004CB    8  00 00 00 00 00 00 00 00      0

[11589 rows x 5 columns]

In [11]:
len(data[data['ID'] == '000007E0'])

0

In [7]:
dataset = pd.read_csv('./data/Pre_train_S_2.csv')

In [20]:
dataset['label'] = dataset['Class'].apply(lambda x: 0 if x == 'Normal' else 1)

In [21]:
dataset

,Timestamp,Arbitration_ID,DLC,Data,Class,SubClass,label
0,1.599043e+09,251,8,FE 03 17 D3 00 FE 07 80,Normal,Normal,0
1,1.599043e+09,2B0,6,C1 FF 00 07 D7 32,Normal,Normal,0
2,1.599043e+09,38D,8,00 00 49 00 F0 7F FE 51,Normal,Normal,0
3,1.599043e+09,420,8,50 1E 00 C8 FC 4F 6A 00,Normal,Normal,0
4,1.599043e+09,421,8,FE 07 00 FF E3 7F 00 9E,Normal,Normal,0
...,...,...,...,...,...,...,...
817037,1.599044e+09,260,8,05 30 01 30 FF BC 4B 1F,Normal,Normal,0
817038,1.599044e+09,48A,8,00 00 21 41 02 02 20 B4,Normal,Normal,0
817039,1.599044e+09,329,8,0F C3 7D 8C 31 2C 00 10,Normal,Normal,0
817040,1.599044e+09,58B,8,11 00 00 00 00 00 00 00,Normal,Normal,0
817041,1.599044e+09,48C,8,4C 20 02 00 00 00 00 00,Normal,Normal,0

In [23]:
dataset[dataset['label'] == 1]

,Timestamp,Arbitration_ID,DLC,Data,Class,SubClass,label
87149,1.599043e+09,000,8,00 00 00 00 00 00 00 00,Attack,Flooding,1
87150,1.599043e+09,000,8,00 00 00 00 00 00 00 00,Attack,Flooding,1
87153,1.599043e+09,000,8,00 00 00 00 00 00 00 00,Attack,Flooding,1
87155,1.599043e+09,000,8,00 00 00 00 00 00 00 00,Attack,Flooding,1
87158,1.599043e+09,000,8,00 00 00 00 00 00 00 00,Attack,Flooding,1
...,...,...,...,...,...,...,...
766939,1.599044e+09,559,8,A1 B1 4B B4 FC 3D DE 2E,Attack,Fuzzing,1
766942,1.599044e+09,5B0,8,1E 07 90 C8 E3 2F 3E DA,Attack,Fuzzing,1
766945,1.599044e+09,251,8,AA F2 EB D1 70 6E BB 6E,Attack,Fuzzing,1
766954,1.599044e+09,386,8,11 03 72 87 EF 7F 12 32,Attack,Fuzzing,1
766957,1.599044e+09,140,8,83 71 53 D2 F8 95 BF D3,Attack,Fuzzing,1

In [2]:
dataset = pd.read_csv('data/carnival_pangyo.csv')

In [5]:
dataset[dataset['ID'] == '00000260']

,Timestamp,ID,DLC,Payload,label
159,61469889.3,00000260,20,1A 27 05 00 1C 56 92 62 00 00 63 00 00 00 00 0...,0
423,61475089.1,00000260,20,F0 D1 39 00 1C 37 90 62 01 00 63 00 00 00 00 0...,0
611,61475189.1,00000260,20,55 98 3A 00 1C 37 8F 62 01 00 63 00 00 00 00 0...,0
793,61475289.1,00000260,20,AB 94 3B 00 1C 3F 90 62 01 00 63 00 00 00 00 0...,0
981,61475389.2,00000260,20,86 D3 3C 00 1C 46 90 62 01 00 63 00 00 00 00 0...,0
...,...,...,...,...,...
3320836,63303117.3,00000260,20,E5 39 A1 00 1C 4E 8E 6D 00 00 65 00 00 00 00 0...,0
3321024,63303217.4,00000260,20,2F D2 A2 00 1C 4E 8E 6D 00 00 65 00 00 00 00 0...,0
3321203,63303317.3,00000260,20,69 8B A3 00 1C 4E 8E 6D 00 00 65 00 00 00 00 0...,0
3321391,63303417.3,00000260,20,9A 15 A4 00 1C 4E 8E 6D 00 00 65 00 00 00 00 0...,0
3321570,63303517.2,00000260,20,DC 4C A5 00 1C 4E 8E 6D 00 00 65 00 00 00 00 0...,0

In [3]:
import pandas as pd

In [19]:
a = pd.read_csv('data/fd_verify_added_scenario_5.csv')

In [20]:
a[a['label'] == 1]['ID'].unique()

array(['000001AA', '0000015A', '000000B5', '00000555', '0000006A'],
      dtype=object)

In [18]:
for item in a[a['label'] == 1]['ID'].unique():
    b = a[a['ID'] == item]
    print(len(b[b['label'] == 1]))

500000
500000
1000000
500000

In [2]:
data = pd.read_csv('raw-data/1_candump.txt', sep = ', ')

C:\Users\Choi\AppData\Local\Temp\ipykernel_12104\2355659478.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv('raw-data/1_candump.txt', sep = ', ')

In [ ]:
data.to_csv('data/can_stop_dataset.csv', sep = ',', index = False)

In [17]:
dataset = pd.read_csv('data/can_stop_dataset.csv')

In [18]:
dataset['ID'] = dataset['Arbitration_ID']

In [19]:
dataset = dataset.drop(['Arbitration_ID'], axis = 1)

In [20]:
dataset = dataset[['Timestamp', 'ID', 'DLC', 'Data']]

In [21]:
dataset.head()

   Timestamp   ID  DLC                     Data
0    0.00342  220    8  EE A3 7E 00 00 FF 0F 44
1    0.00366  130    8  FC 7F 68 7F 00 00 04 7F
2    0.00389  140    8  B4 7F 00 64 20 00 04 69
3    0.00413  153    8  20 80 10 FF 00 FF 60 0E
4    0.00682  260    8  05 17 00 30 FF BE 59 1A

In [22]:
dataset.columns = ['Timestamp', 'ID', 'DLC', 'Payload']

In [23]:
dataset.head()

   Timestamp   ID  DLC                  Payload
0    0.00342  220    8  EE A3 7E 00 00 FF 0F 44
1    0.00366  130    8  FC 7F 68 7F 00 00 04 7F
2    0.00389  140    8  B4 7F 00 64 20 00 04 69
3    0.00413  153    8  20 80 10 FF 00 FF 60 0E
4    0.00682  260    8  05 17 00 30 FF BE 59 1A

In [24]:
dataset['ID'] = dataset['ID'].apply(lambda x: f'00000{x}')

In [25]:
dataset['ID']

0          00000220
1          00000130
2          00000140
3          00000153
4          00000260
             ...
3424995    0000038D
3424996    00000420
3424997    00000421
3424998    00000251
3424999    000002B0
Name: ID, Length: 3425000, dtype: object

In [26]:
dataset.head()

   Timestamp        ID  DLC                  Payload
0    0.00342  00000220    8  EE A3 7E 00 00 FF 0F 44
1    0.00366  00000130    8  FC 7F 68 7F 00 00 04 7F
2    0.00389  00000140    8  B4 7F 00 64 20 00 04 69
3    0.00413  00000153    8  20 80 10 FF 00 FF 60 0E
4    0.00682  00000260    8  05 17 00 30 FF BE 59 1A

In [31]:
dataset['label'] = [0 for _ in range(len(dataset))]

In [32]:
dataset.head()

   Timestamp        ID  DLC                  Payload  label
0    0.00342  00000220    8  EE A3 7E 00 00 FF 0F 44      0
1    0.00366  00000130    8  FC 7F 68 7F 00 00 04 7F      0
2    0.00389  00000140    8  B4 7F 00 64 20 00 04 69      0
3    0.00413  00000153    8  20 80 10 FF 00 FF 60 0E      0
4    0.00682  00000260    8  05 17 00 30 FF BE 59 1A      0

In [33]:
dataset.to_csv('data/11_12_can_data.csv', sep = ',', index = False)

In [47]:
len(dataset)

3425000

In [35]:
replay = pd.read_csv('raw-data/replay.txt', sep = ', ')

C:\Users\Choi\AppData\Local\Temp\ipykernel_6624\3522750383.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  replay = pd.read_csv('raw-data/replay.txt', sep = ', ')

In [37]:
replay.columns = ['Timestamp', 'ID', 'DLC', 'Payload']

In [42]:
replay['ID'] = replay['ID'].apply(lambda x: f'00000{x}')

In [44]:
replay['label'] = [1 for _ in range(len(replay))]

In [45]:
replay.to_csv('replay_dummy.csv', sep = ',', index = False)

In [48]:
len(replay)

28682

In [49]:
test = pd.read_csv('data/11_12_can_data_v1.csv')

In [50]:
test[test['label'] == 1]

          Timestamp        ID  DLC                  Payload  label
102347     42.65834  0000042D    8  00 00 00 00 00 D0 07 FA      1
102349     42.65858  0000047F    8  04 57 FF FF 00 7B 00 04      1
102350     42.65871  000004A7    2                    01 00      1
102352     42.65896  0000053E    8  00 00 00 00 0C CF 00 00      1
102354     42.65921  00000572    8  00 00 00 00 00 00 00 00      1
...             ...       ...  ...                      ...    ...
3672159  1410.93162  00000130    8  F8 7F 1C 81 00 00 0F E7      1
3672160  1410.93185  00000140    8  54 7F 00 68 20 00 0F 64      1
3672161  1410.93210  0000048C    8  FC 30 03 00 00 00 00 00      1
3672163  1410.93319  00000394    8  00 E0 08 00 FF 8B 18 FA      1
3672164  1410.93336  00000164    4              00 08 19 93      1

[286820 rows x 5 columns]

In [51]:
replay[replay['ID'] == '000004F1']

       Timestamp        ID  DLC      Payload  label
30       0.01782  000004F1    4  20 00 60 11      1
84       0.03782  000004F1    4  20 00 60 21      1
134      0.05780  000004F1    4  00 00 60 31      1
183      0.07760  000004F1    4  20 00 60 41      1
228      0.09778  000004F1    4  00 00 60 51      1
...          ...       ...  ...          ...    ...
28459   11.83251  000004F1    4  00 00 60 01      1
28507   11.85251  000004F1    4  20 00 60 11      1
28557   11.87230  000004F1    4  20 00 60 21      1
28602   11.89230  000004F1    4  00 00 60 31      1
28649   11.91230  000004F1    4  20 00 60 41      1

[596 rows x 5 columns]

In [52]:
test = pd.read_csv('data/11_12_can_data_v4.csv')

In [53]:
test[test['label'] == 1]

          Timestamp        ID  DLC                  Payload  label
21150       8.82088  0000053E    8  00 00 00 00 09 85 00 00      1
21152       8.82113  0000053E    8  00 00 00 00 09 85 00 00      1
21154       8.82138  0000053E    8  00 00 00 00 09 85 00 00      1
21156       8.82163  0000053E    8  00 00 00 00 09 85 00 00      1
21158       8.82188  0000053E    8  00 00 00 00 09 85 00 00      1
...             ...       ...  ...                      ...    ...
4449011  1423.79339  0000053E    8  00 00 00 00 09 85 00 00      1
4449013  1423.79364  0000053E    8  00 00 00 00 09 85 00 00      1
4449014  1423.79389  0000053E    8  00 00 00 00 09 85 00 00      1
4449015  1423.79414  0000053E    8  00 00 00 00 09 85 00 00      1
4449017  1423.79439  0000053E    8  00 00 00 00 09 85 00 00      1

[1032820 rows x 5 columns]

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/new_carnival_spoofing_06a_417_final.csv')

In [4]:
a = data[data['label'] == 1]
a

,Timestamp,ID,DLC,Payload,label
92179,1.726212e+12,00000417,8,00 00 00 00 00 11 00 00,1
92180,1.726212e+12,00000417,8,00 00 00 00 00 11 00 00,1
92181,1.726212e+12,00000417,8,00 00 00 00 00 11 00 00,1
92182,1.726212e+12,00000417,8,00 00 00 00 00 11 00 00,1
92183,1.726212e+12,00000417,8,00 00 00 00 00 11 00 00,1
...,...,...,...,...,...
8669655,1.726216e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1
8669656,1.726216e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1
8669657,1.726216e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1
8669658,1.726216e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1
8669659,1.726216e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1

In [5]:
a[a['ID'] == '00000417']

            Timestamp        ID DLC                  Payload  label
92179    1.726212e+12  00000417   8  00 00 00 00 00 11 00 00      1
92180    1.726212e+12  00000417   8  00 00 00 00 00 11 00 00      1
92181    1.726212e+12  00000417   8  00 00 00 00 00 11 00 00      1
92182    1.726212e+12  00000417   8  00 00 00 00 00 11 00 00      1
92183    1.726212e+12  00000417   8  00 00 00 00 00 11 00 00      1
...               ...       ...  ..                      ...    ...
8626990  1.726216e+12  00000417   8  00 00 00 00 00 11 00 00      1
8626991  1.726216e+12  00000417   8  00 00 00 00 00 11 00 00      1
8626992  1.726216e+12  00000417   8  00 00 00 00 00 11 00 00      1
8626993  1.726216e+12  00000417   8  00 00 00 00 00 11 00 00      1
8626994  1.726216e+12  00000417   8  00 00 00 00 00 11 00 00      1

[200000 rows x 5 columns]

In [6]:
a[a['ID'] == '0000006a']

,Timestamp,ID,DLC,Payload,label
128914,1.726212e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1
128915,1.726212e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1
128916,1.726212e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1
128917,1.726212e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1
128918,1.726212e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1
...,...,...,...,...,...
8669655,1.726216e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1
8669656,1.726216e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1
8669657,1.726216e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1
8669658,1.726216e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1
8669659,1.726216e+12,0000006a,D,00 00 00 00 00 00 00 0A 00 00 00 00 00 00,1

In [7]:
dataset = pd.read_csv('data/carnival_stopped_data.csv')

In [8]:
dataset[dataset['ID'] == '00000417']

            Timestamp        ID  DLC                  Payload  label
23       1.730424e+12  00000417    8  2A 50 00 95 30 00 00 00      0
391      1.730424e+12  00000417    8  2A 50 00 95 30 00 00 00      0
757      1.730424e+12  00000417    8  2A 50 00 95 30 00 00 00      0
1125     1.730424e+12  00000417    8  2A 50 00 95 30 00 00 00      0
1492     1.730424e+12  00000417    8  2A 50 00 95 30 00 00 00      0
...               ...       ...  ...                      ...    ...
6646872  1.730427e+12  00000417    8  2A 50 00 95 30 00 00 00      0
6647242  1.730427e+12  00000417    8  2A 50 00 95 30 00 00 00      0
6647609  1.730427e+12  00000417    8  2A 50 00 95 30 00 00 00      0
6647978  1.730427e+12  00000417    8  2A 50 00 95 30 00 00 00      0
6648346  1.730427e+12  00000417    8  2A 50 00 95 30 00 00 00      0

[18025 rows x 5 columns]

In [9]:
dataset[dataset['ID'] == '0000006A']

,Timestamp,ID,DLC,Payload,label
14,1.730424e+12,0000006A,20,41 9A A9 93 0B 4C 93 0B 50 01 00 00 00 E1 02 0...,0
44,1.730424e+12,0000006A,20,3D FB AA 97 0B 4C 97 0B 50 01 00 00 00 E1 02 0...,0
59,1.730424e+12,0000006A,20,F6 46 AB 93 0B 4C 93 0B 50 01 00 00 00 E2 02 0...,0
79,1.730424e+12,0000006A,20,82 B2 AC 8C 0B 4C 8C 0B 50 01 00 00 00 E2 02 0...,0
94,1.730424e+12,0000006A,20,AE 4E AD 95 0B 4C 95 0B 50 01 00 00 00 E2 02 0...,0
...,...,...,...,...,...
6648334,1.730427e+12,0000006A,20,46 4A CC 87 0B 62 87 0B 50 01 00 00 00 E7 02 0...,0
6648360,1.730427e+12,0000006A,20,BD B9 CD 86 0B 62 86 0B 50 01 00 00 00 E7 02 0...,0
6648376,1.730427e+12,0000006A,20,9C F4 CE 89 0B 62 89 0B 50 01 00 00 00 E8 02 0...,0
6648397,1.730427e+12,0000006A,20,7A 67 CF 87 0B 62 87 0B 50 01 00 00 00 E8 02 0...,0
6648416,1.730427e+12,0000006A,20,FE 36 D0 8B 0B 62 8B 0B 50 01 00 00 00 EB 02 0...,0